@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.container {
  background-color: white;
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin-left: 50px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(41, 185, 101, 0.3);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  -webkit-box-shadow: inset 20px 0 200px rgba(214, 0, 0, 0.5);
}
.card::-webkit-scrollbar {
  width: 1px;
}

/* .card::-webkit-scrollbar-thumb {
            background: green;;

          }
          .card::-webkit-scrollbar-thumb:hover {
            background: #555;;

          }
          .card::-webkit-scrollbar-button {
            background: pink;
          }
          .card::-webkit-scrollbar-corner {
            background:black;
          }
          .card::-webkit-resizer:double-button {
width: 2em;          } */
*/

/* 
      .card::-webkit-scrollbar{
          width: 3em;
          border: 2px solid blue;
      }
      .card::-webkit-scrollbar-button:single-button{
        background-color: red; 
        height: 16px; 
        width: 16px; 
      }
      .card::-webkit-scrollbar-thumb{
       background: black;
      }
      .card::-webkit-scrollbar-track{
        background: yellow;
      }
      .card::-webkit-scrollbar-track-piece{
        background: green;
      }
      .card::-webkit-scrollbar-corner{ 
        background: orange ; 
        display: solid; 
    }
    .card::-webkit-resizer{ 
        background: pink ; 
    } */
      /* .card::-webkit-scrollbar {
        width: 12px;
    }
     
    .card::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
     
    .card::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    } */
.card {
  background-color: black;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: all 0.2s linear;
}
h1 {
  font-family: "Noto Sans", sans-serif;
  color: mediumvioletred;
}
h2 {
  font-family: "Noto Sans", sans-serif;
  color: blueviolet;
}
p {
  font-family: "Noto Sans", sans-serif;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

@media (min-width: 300px) {
  .card {
    flex: 100%;
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    margin: 10px;
    border-radius: 40px;
  }
  .container {
    margin: 5px;
  }
}
@media (min-width: 500px) {
  .card {
    flex: 40%;
  }
}
@media (min-width: 900px) {
  .card {
    flex: 25%;
  }
}

/*  Drive */
/* #container{
    justify-content:center;
    display:flex;
    flex-flow: row wrap;
    border:20px solid;
    max-width: 1280px;
    border: 1px solid;
    align-items: center;
    float:right;
    margin-left:280px;
}
#header{
    width: 200px; 
    position: absolute;;
    height:50px;
}

#new1{
    width:40%;
    display:flex;
    flex-flow: row wrap;;
    color:rgb(8, 8, 8);
    float: right;
    margin:20px;
    padding:20px;
    border:1px solid;
    background:-webkit-linear-gradient(pink, red);
    flex: 40%;
}
#new{
    width:40%;
    display:flex;
    flex-flow: row wrap;;
    color:rgb(8, 8, 8);
    float:center;
    margin:20px;
    padding:20px;
    border:1px solid;
    float:center;
    background:-webkit-linear-gradient(pink, red)
}


 */
